
<div class="container-fluid d-flex flex-column vh-100">
  <div class="row flex-shrink-0">
    <header class="col-12">
      <app-header></app-header>
    </header>
  </div>

  <div class="row flex-grow-1">

    <div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="content col-md-9 ml-sm-auto col-lg-10 px-4 flex-fill">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row flex-shrink-0">
    <footer class="col-12">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
