$primary: #3C3F41;
$success: #1e7e34;
$info: #117a8b;
$background: #1E1F22;
$header-background: #3C3F41;
$text: #FFFFFF;


$theme-colors: (
  "primary": $primary,
  "success": $success,
  "info": $info,
  "background": $background,
  "text": $text
);

* {
  color: $text;
}

.navbar {
  background-color: $header-background !important;
  .navbar-brand {
    color: $text !important;
  }
}

.sidebar, .footer, .content {
  background-color: $background !important;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
