/* sidebar.component.css */
.nav-pills .nav-link {
  border-radius: 0.25rem; /* Abgerundete Ecken */
}

.nav-item .nav-link {
  margin-bottom: 0.125rem; /* Kleiner Abstand zwischen den Einträgen */
  transition: background-color 0.2s; /* Sanfter Übergang für die Hintergrundfarbe */
}

.nav-item .nav-link:hover {
  background-color: #f8f9fa; /* Leichte Hintergrundfarbe beim Hover */
}

/* Spezifische Stile für das Submenu */
.nav-item .nav.flex-column .nav-item .nav-link {
  padding-left: 2rem; /* Größerer Einzug für Submenu-Einträge */
}

.nav-item .nav.flex-column .nav-item .nav-link:hover {
  background-color: #e9ecef; /* Eine andere Hintergrundfarbe für das Hover bei Submenu-Einträgen */
}
