<!-- sidebar.component.html -->
<div class="d-flex flex-column flex-shrink-0 p-3 ">
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let item of navItems">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeItem === item" href="#" (click)="setActiveItem(item, $event)">
          {{ item.displayName }}
          <span *ngIf="item.children && item.children.length" class="ms-auto">
            <i class="bi-chevron-down" *ngIf="!item.isOpen"></i>
            <i class="bi-chevron-up" *ngIf="item.isOpen"></i>
          </span>
        </a>
        <ul class="nav flex-column ms-3" *ngIf="item.isOpen">
          <ng-container *ngFor="let child of item.children">
            <li class="nav-item" [class.active]="activeItem === child">
              <a class="nav-link" routerLink="{{child.route}}" (click)="setActiveItem(child, $event)">{{ child.displayName }}</a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
